In [14]:
import pandas as pd
import yfinance as yf

In [36]:
data = yf.download("AAPL", start="1980-01-01")
data.columns = data.columns.get_level_values(0)
data.to_csv("aapl.csv")

/var/folders/3p/fd9d2g015r79tgk1pvm70l100000gn/T/ipykernel_44855/1476439614.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download("AAPL", start="1980-01-01")
[*********************100%***********************]  1 of 1 completed

In [39]:
stock_df = pd.read_csv("aapl.csv", parse_dates=["Date"], index_col=["Date"])

In [41]:
stock_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 11251 entries, 1980-12-12 to 2025-08-04
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Close   11251 non-null  float64
 1   High    11251 non-null  float64
 2   Low     11251 non-null  float64
 3   Open    11251 non-null  float64
 4   Volume  11251 non-null  int64
dtypes: float64(4), int64(1)
memory usage: 527.4 KB

In [ ]:
stock_df.head()

               Close      High       Low      Open     Volume
Date
1980-12-12  0.098597  0.099025  0.098597  0.098597  469033600
1980-12-15  0.093453  0.093881  0.093453  0.093881  175884800
1980-12-16  0.086594  0.087022  0.086594  0.087022  105728000
1980-12-17  0.088737  0.089165  0.088737  0.088737   86441600
1980-12-18  0.091310  0.091738  0.091310  0.091310   73449600

In [45]:
stock_df.describe()

              Close          High           Low          Open        Volume
count  11251.000000  11251.000000  11251.000000  11251.000000  1.125100e+04
mean      25.916800     26.179742     25.630079     25.896853  3.121280e+08
std       53.852240     54.388491     53.260891     53.801252  3.339984e+08
min        0.037724      0.038153      0.037724      0.038153  0.000000e+00
25%        0.244768      0.250295      0.239494      0.244618  1.084468e+08
50%        0.462710      0.468090      0.454720      0.461165  2.007152e+08
75%       20.296303     20.422476     20.161570     20.318143  3.916626e+08
max      258.396667    259.474086    257.010028    257.568678  7.421641e+09

In [43]:
stock_df.tail()

                 Close        High         Low        Open     Volume
Date
2025-07-29  211.270004  214.809998  210.820007  214.179993   51411700
2025-07-30  209.050003  212.389999  207.720001  211.899994   45512500
2025-07-31  207.570007  209.839996  207.160004  208.490005   80698400
2025-08-01  202.380005  213.580002  201.500000  210.869995  104301700
2025-08-04  204.059998  207.880005  203.570007  204.505005   34745243

In [46]:
stock_df.isna().sum()

Close     0
High      0
Low       0
Open      0
Volume    0
dtype: int64

In [47]:
stock_df.mean()

Close     2.591680e+01
High      2.617974e+01
Low       2.563008e+01
Open      2.589685e+01
Volume    3.121280e+08
dtype: float64