# Imports and set up

In [2]:
import pandas as pd
import yfinance as yf
import plotly.express as px

In [ ]:
# data = yf.download("AAPL", start="1980-01-01")
# data.columns = data.columns.get_level_values(0)
# data.to_csv("aapl.csv")

/var/folders/3p/fd9d2g015r79tgk1pvm70l100000gn/T/ipykernel_57663/1476439614.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download("AAPL", start="1980-01-01")
[*********************100%***********************]  1 of 1 completed

In [4]:
stock_df = pd.read_csv("aapl.csv", parse_dates=["Date"], index_col=["Date"])

# Adding time columns

In [5]:
stock_df["Day"] = stock_df.index.day
stock_df["Month"] = stock_df.index.month
stock_df["Year"] = stock_df.index.year

In [6]:
stock_df.head()

,Close,High,Low,Open,Volume,Day,Month,Year
Date,,,,,,,,
1980-12-12,0.098597,0.099025,0.098597,0.098597,469033600,12,12,1980
1980-12-15,0.093453,0.093881,0.093453,0.093881,175884800,15,12,1980
1980-12-16,0.086594,0.087022,0.086594,0.087022,105728000,16,12,1980
1980-12-17,0.088737,0.089165,0.088737,0.088737,86441600,17,12,1980
1980-12-18,0.091310,0.091738,0.091310,0.091310,73449600,18,12,1980

# EDA

## Basics

In [7]:
stock_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 11252 entries, 1980-12-12 to 2025-08-05
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Close   11252 non-null  float64
 1   High    11252 non-null  float64
 2   Low     11252 non-null  float64
 3   Open    11252 non-null  float64
 4   Volume  11252 non-null  int64
 5   Day     11252 non-null  int32
 6   Month   11252 non-null  int32
 7   Year    11252 non-null  int32
dtypes: float64(4), int32(3), int64(1)
memory usage: 659.3 KB

In [8]:
stock_df.head()

,Close,High,Low,Open,Volume,Day,Month,Year
Date,,,,,,,,
1980-12-12,0.098597,0.099025,0.098597,0.098597,469033600,12,12,1980
1980-12-15,0.093453,0.093881,0.093453,0.093881,175884800,15,12,1980
1980-12-16,0.086594,0.087022,0.086594,0.087022,105728000,16,12,1980
1980-12-17,0.088737,0.089165,0.088737,0.088737,86441600,17,12,1980
1980-12-18,0.091310,0.091738,0.091310,0.091310,73449600,18,12,1980

In [9]:
stock_df.describe()

,Close,High,Low,Open,Volume,Day,Month,Year
count,11252.000000,11252.000000,11252.000000,11252.000000,1.125200e+04,11252.000000,11252.000000,11252.000000
mean,25.932587,26.195665,25.645599,25.912631,3.121062e+08,15.741379,6.513064,2002.742357
std,53.875880,54.412294,53.283960,53.824891,3.339917e+08,8.749262,3.430624,12.891334
min,0.037724,0.038153,0.037724,0.038153,0.000000e+00,1.000000,1.000000,1980.000000
25%,0.244797,0.250295,0.239494,0.244664,1.084374e+08,8.000000,4.000000,1992.000000
50%,0.462710,0.468317,0.454720,0.461324,2.006900e+08,16.000000,7.000000,2003.000000
75%,20.302587,20.433441,20.197339,20.318522,3.916521e+08,23.000000,9.250000,2014.000000
max,258.396667,259.474086,257.010028,257.568678,7.421641e+09,31.000000,12.000000,2025.000000

In [10]:
stock_df.tail()

,Close,High,Low,Open,Volume,Day,Month,Year
Date,,,,,,,,
2025-07-30,209.050003,212.389999,207.720001,211.899994,45512500,30,7,2025
2025-07-31,207.570007,209.839996,207.160004,208.490005,80698400,31,7,2025
2025-08-01,202.380005,213.580002,201.500000,210.869995,104434500,1,8,2025
2025-08-04,203.350006,207.880005,201.679993,204.509995,75020600,4,8,2025
2025-08-05,204.264008,205.339996,202.160004,203.434998,25904191,5,8,2025

In [11]:
stock_df.isna().sum()

Close     0
High      0
Low       0
Open      0
Volume    0
Day       0
Month     0
Year      0
dtype: int64

In [12]:
stock_df.mean()

Close     2.593259e+01
High      2.619566e+01
Low       2.564560e+01
Open      2.591263e+01
Volume    3.121062e+08
Day       1.574138e+01
Month     6.513064e+00
Year      2.002742e+03
dtype: float64

In [13]:
stock_df

,Close,High,Low,Open,Volume,Day,Month,Year
Date,,,,,,,,
1980-12-12,0.098597,0.099025,0.098597,0.098597,469033600,12,12,1980
1980-12-15,0.093453,0.093881,0.093453,0.093881,175884800,15,12,1980
1980-12-16,0.086594,0.087022,0.086594,0.087022,105728000,16,12,1980
1980-12-17,0.088737,0.089165,0.088737,0.088737,86441600,17,12,1980
1980-12-18,0.091310,0.091738,0.091310,0.091310,73449600,18,12,1980
...,...,...,...,...,...,...,...,...
2025-07-30,209.050003,212.389999,207.720001,211.899994,45512500,30,7,2025
2025-07-31,207.570007,209.839996,207.160004,208.490005,80698400,31,7,2025
2025-08-01,202.380005,213.580002,201.500000,210.869995,104434500,1,8,2025
2025-08-04,203.350006,207.880005,201.679993,204.509995,75020600,4,8,2025
2025-08-05,204.264008,205.339996,202.160004,203.434998,25904191,5,8,2025

## Find Min / Max Close

In [14]:
# min = stock_df["Close"].idxmin()
min = stock_df.loc[stock_df["Close"].idxmin()]
min

Close     3.772387e-02
High      3.815252e-02
Low       3.772387e-02
Open      3.815252e-02
Volume    1.643264e+08
Day       8.000000e+00
Month     7.000000e+00
Year      1.982000e+03
Name: 1982-07-08 00:00:00, dtype: float64

In [16]:
max = stock_df.loc[stock_df["Close"].idxmax()]
max

Close     2.583967e+02
High      2.594741e+02
Low       2.570100e+02
Open      2.575687e+02
Volume    2.723710e+07
Day       2.600000e+01
Month     1.200000e+01
Year      2.024000e+03
Name: 2024-12-26 00:00:00, dtype: float64